<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <div class="mb-3">
        <%= image_tag asset_path('valorant-big-logo.svg'), class: 'logo-big', alt: 'VALORANT' %>
      </div>
      <h3 class="fw-normal text-muted mb-3">TEAMS</h3>
      <p class="lead">Explore Valorant eSports teams: top players, thrilling matches, and championship glory!</p>
    </div>
  </div>
  <% @teams.each_with_index do |team, index| %>
    <% if index.even? %>
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-body-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <% else %>
          <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <% end %>
          <div class="my-3 p-3">
            <%= link_to team_path(team), class: 'link-unstyled' do %>
              <h2 class="display-5 text-decoration-underline"><%= team.name.upcase %></h2>
            <% end %>
            <p class="lead">We are <%= team.name.upcase %>: a top eSports team known for skill, strategy, and teamwork. Join us as we conquer the competitive scene and strive for victory.</p>
          </div>
          <% if index == @teams.length - 1 %>
            <%= image_tag asset_path('team-logo.png'), class: 'pic last', alt: 'team-logo' %>
          <% else %>
            <%= image_tag asset_path('team-logo.png'), class: 'pic', alt: 'team-logo' %>
          <% end %>
        </div>
        <% if index.odd? %>
        </div>
      <% end %>
    <% end %>
  </main>

  <%= content_for :footer do %>
      <p class="actions-links">
        <%= link_to "New Team |", new_team_path, class: 'link-unstyled' %>
      </p>
    <% end %>
