<main>

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <div class="mb-3">
        <%= image_tag asset_path('valorant-big-logo.svg'), class: 'logo-big', alt: 'VALORANT' %>
      </div>
      <h3 class="fw-normal text-muted mb-3">Welcome to Valorant: Unleash Your Tactical Prowess!</h3>
      <p class="lead">Valorant isn't just a game; it's a tactical masterpiece that demands skill, strategy, and teamwork. Whether you're a seasoned pro or a newcomer to the FPS genre, Valorant offers an exhilarating experience that keeps you coming back for more. Embark on your journey in the world of Valorant today. Are you ready to prove your skills and become a legendary agent?</p>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Tactical Firefights</h2>
        <p class="lead">Engage in intense 5v5 battles where precise aim and strategic thinking are your greatest assets. Valorant's gunplay is second to none, offering a dynamic and satisfying combat system.</p>
      </div>
      <%= image_tag asset_path('fights.avif'), class: 'pic', alt: 'fights' %>
    </div>
    
    <div class="bg-body-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Diverse Agents</h2>
        <p class="lead">Choose from a roster of diverse agents, each with their own set of distinct abilities. From teleportation to devastating ultimates, your choice of agent can turn the tide of battle.</p>
      </div>
      <%= image_tag asset_path('agents.jpg'), class: 'pic pos_top', alt: 'agents' %>
    </div>
  
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-body-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Global Maps</h2>
        <p class="lead">Explore meticulously designed maps that challenge your team's coordination and individual skills. Adapt to changing environments and execute flawless strategies to secure victory.</p>
      </div>
      <%= image_tag asset_path('maps.jpg'), class: 'pic pos_top', alt: 'maps' %>
    </div>
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Competitive Ranking</h2>
        <p class="lead">Rise through the ranks in Valorant's competitive mode. Test your skills against players from around the world as you climb the ladder, striving for the prestigious rank of Radiant.</p>
      </div>
      <%= image_tag asset_path('ranks.jpg'), class: 'pic pos_bot', alt: 'ranks' %>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Evolving Meta</h2>
        <p class="lead">Stay ahead of the game with frequent updates introducing new agents, maps, and game-changing tweaks. Valorant's evolving meta ensures that every match feels fresh and dynamic.</p>
      </div>
      <%= image_tag asset_path('meta.jpg'), class: 'pic', alt: 'meta' %>
    </div>
    <div class="bg-body-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Community and Esports</h2>
        <p class="lead">Immerse yourself in a thriving community of players and enthusiasts. Follow top-tier esports competitions and connect with like-minded individuals to share tips, tricks, and memorable moments.</p>
      </div>
      <%= image_tag asset_path('esport.png'), class: 'pic', alt: 'esport' %>
    </div>
  </div>
</main>